body {
  font-family: Arial, sans-serif;
  background-color: #c0a3e2; /* Black background */
  color: #fa33d6; /* Pastel Purple text color */
  margin: 0;
  padding: 0;
}


/* Card Container Styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Card Styles */
.card {
  background-color: var(--card-bg-color);
  color:  #000;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* Note Title Styles */
.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

/* Note Content Styles */
.card p {
  font-size: 14px;
  margin: 4px 0;
}

/* Footer Styles */
#footer {
  background-color: #c0a3e2; /* Pastel Purple */
  color: #000; /* Black text */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1; /* Ensure the footer appears above other content */
}

#footer a {
  color: #000; /* Black text for links */
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  transition: color 0.3s;
}

#footer a:hover {
  color: #fff; /* White text on hover */
}

/* Style for the edit container */
.edit-container {
  background-color: #c0a3e2; /* White background */
  border: 2px solid #e0e0e0; /* Light gray border */
  color: #333; /* Dark gray text color */
  border-radius: 10px;
  padding: 30px; /* Padding around the content */
  margin: 20px auto; /* Center the container and add margin */
  max-width: 600px; /* Maximum width of the container */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  font-family: Arial, sans-serif; /* Font style */
}

.edit-container textarea {
  width: 100%; /* Take up the full width of the container */
  height: 200px; /* Adjust the height as needed */
  padding: 10px; /* Padding within the text area */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}


/* Style for the "Save" button */
.edit-container button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #6a57b0; /* Purple button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px; /* Add space between content and button */
  transition: background-color 0.3s ease-in-out;
}

.edit-container button:hover {
  background-color: #4c3e8c; /* Darker purple color on hover */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6a57b0; /* Pastel purple button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #4c3e8c; /* Darker pastel purple color on hover */
}

h1 {
  text-align: center;
}